@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@*@Html.Partial("_Notifications")
    @Html.Action("JavaScriptDisabledWarning", "Common")
    @Html.Partial("OldInternetExplorerWarning")*@

<div id="page" class="container page color-default">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")


















    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div id="columns" class="columns clearfix">
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div id="content-column" class="content-column" role="main">
            @RenderBody()
        </div>
    </div>
    @Html.Action("Footer", "Common")
</div>
@*@Html.Action("EuCookieLaw", "Common")*@