@model Nop.Admin.Models.ProjectsUnderConstructions.ProjectsUnderConstructionAdModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.ContentManagement.ProjectsUnderConstruction").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProjectsUC");
}
@using (Html.BeginForm("Create", "ProjectsOnGoing", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.NewsItems.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.News.NewsItems.BackToList").Text, "List")</small>
        </h1>
		@* update 10/08/2024: required field: Title, short ,full*@
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue btn-save">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue btn-save">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>










        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
	<script>
	$('.btn-save').on("click",(e)=>{
	$(".field-validation-valid[data-valmsg-for='Short']").text("")
	$(".field-validation-valid[data-valmsg-for='Full']").text("")
	$(".field-validation-valid[data-valmsg-for='Title']").text("")
	if(tinymce.get('Short').getContent()===''){
		e.preventDefault();
		$(".field-validation-valid[data-valmsg-for='Short']").text("Please input Short").css("color","red") } 
		
		if(tinymce.get('Full').getContent()===''){
		e.preventDefault()
		$(".field-validation-valid[data-valmsg-for='Full']").text("Please input Content").css("color","red") 
		};
		if($("#Title").val()===""){
			 e.preventDefault();
			$(".field-validation-valid[data-valmsg-for='Title']").text("Please input Title").css("color","red")
		}
		
		
	})
	</script>
	@*end update 10/08/2024: required field: Title, short ,full*@
}


