@model PagedList.IPagedList<Nop.Web.Models.CustomerWork.CustomerWorkModel>
@using PagedList.Mvc;
<div id="breadcrumb" class="clearfix">
    <nav class="breadcrumb-wrapper clearfix">
        <ol id="crumbs" class="clearfix">
            <li class="crumb crumb-first">
                <a>@T("homepage")</a>
            </li>
            <li class="crumb">
                <span> >> </span>
                <span class="crumb-title">
                    @T("home.menu.customerwork")
                </span>
            </li>

        </ol>
    </nav>


















</div>
<div id="columns" class="columns clearfix">
    <div id="content-column" class="content-column">
        <div class="content-inner">
            <div id="main-content">
                <header id="main-content-header" class="clearfix">
                    <h1 id="page-title">
                        @T("home.menu.customerwork")
                    </h1>
                </header>
                <div id="full-width">
                    <div class="content-box">
                        <div class="services-wrapper services-default cols-wrapper cols-4">
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="services-box col services-no-content">
                                        <div class="img-container title-customerwork">
                                            <a href="@item.LinkUrl"  target="_blank">
                                                <img src="@item.UrlImage" alt="Image" style=" height: 175px; width: 212px;">
                                                <h3 >@item.Title</h3>
                                                </a>
                                        </div>
                                    </div>
                                }
                                <div class="item-list">
                                    @Html.PagedListPager(Model, page => Url.Action("CustomerWork", new { page }))
                                </div>
                            }
                            else
                            {
                                <div class="page news-item-page class-blank">
                                    <p>@T("No.Content")</p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


